<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <title>Sign Up - CodeJava</title>
<!--    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />-->
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
<!--    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>-->
</head>
<body>
<div class="container text-center">
    <div>
        <h1>Sửa Bài Đăng</h1>
    </div>


    <div sec:authorize="isAuthenticated()">
        <form th:action="@{/logout}" method="post">
            <p>
                Welcome <b><span sec:authentication="principal.fullName"></span></b>
            <div th:text="${#authentication.getPrincipal().getId()}"></div>

            </p>
            <input type="submit" value="Sign Out" />
        </form>
    </div>

    <form th:action="@{/update_post/{id}(id=${post.mabd})}" th:object="${post}"
          method="post" style="max-width: 600px; margin: 0 auto;">
        <div class="row">
            <div class="form-group col-md-6">
                matk: <span th:text="${post.users.id}">matk</span>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6">
                mabd: <span th:text="${post.mabd}">mabd</span>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-md-6">
                <label class="col-4 col-form-label">noiDung: </label>
                <div class="col-8">
                    <input type="text" th:field="*{noiDung}" class="form-control" required />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 mt-5">
                <input type="submit" class="btn btn-primary" value="Lưu thay đổi">
            </div>
        </div>
    </form>
</div>
</body>
</html>