<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="ISO-8859-1">
    <title>Sign Up - CodeJava</title>
<!--    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />-->
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
<!--    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>-->
</head>
<body>
<div class="container text-center">
    <div>
        <h1>Them Bai Dang</h1>
    </div>


    <div sec:authorize="isAuthenticated()">
        <form th:action="@{/logout}" method="post">
            <p>
                Welcome <b><span sec:authentication="principal.fullName"></span></b>
            <div th:text="${#authentication.getPrincipal().getId()}"></div>

            </p>
            <input type="submit" value="Sign Out" />
        </form>
    </div>

    <form th:action="@{/add_post}" th:object="${post}"
          method="post" style="max-width: 600px; margin: 0 auto;">
        <div class="m-3">

            <div class="form-group row">
                <label class="col-4 col-form-label">noiDung: </label>
                <div class="col-8">
                    <input type="text" th:field="*{noiDung}" class="form-control" required />
                </div>
            </div>


            <div class="form-group row mt-3">
                <label class="col-4 col-form-label">Image (optional): </label>
                <div class="col-8">
                    <input type="file" name="image" class="form-control" accept="image/*" />
                </div>
            </div>


            <div>
                <button type="submit" class="btn btn-primary">Them</button>
            </div>
        </div>
    </form>
</div>
</body>
</html>